= form_for(@link) do |f|
  - if @link.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@link.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @link.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :text
    %br
    = f.text_field :text
  .field
    = f.label :url
    %br
    = f.text_area :url

  .actions
    = f.submit
