%h1= t '.title'
%p
  = link_to t('back'), links_path
  = link_to t('edit'), edit_link_path(@link)

%dl
  %dt= Link.human_attribute_name :text
  %dd= @link.text
  %dt= Link.human_attribute_name :url
  %dd= @link.url
