-#Why does this seem to hate the put method? Using post for the moment...`
- form_for(:gcsja, {:url => gcsja_update_path(:attr => @attr), :html => { :method => :post }}) do |f|
  
  - if @gcsja.errors.any?
    #errorExplanation
      %h2= t('activerecord.errors.messages.gcsja.invalid_record')
      %ul
      - @gcsja.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label @attr.to_sym 
    %br
    = f.text_area @attr.to_sym, :size => '83x50'

  .actions
    = f.submit I18n.t('submit')
