-content_for :left do
  %p.sidebar_title
    =t('sidebar.practice_times')
  -@locations.try(:each) do |location|
    -location.practices.each do |practice|
      %p
        ="#{t('daynames')[practice.day].pluralize}"
        %br
        ="#{practice.start_time.strftime(t('time.format'))} - #{practice.end_time.strftime(t('time.format'))} #{practice.location.name} #{practice.location.address}"

  %p
    =t('sidebar.contact')
  %p
    Alex Stephens 613.293.6947 capoeira.angola at bell.net 
-content_for :right do
  %p.sidebar_title
    =t('sidebar.latest_events')
  -@events.try(:each) do |event|
    %p
      ="#{event.start_date}:"
    %p
      =link_to image_tag(event.poster(:thumb)), events_path 
%p
  =parse_haml @gcsja.welcome
