= form_for @location do |f|
  - if @location.errors.any?
    #errorExplanation
      %h2= ""
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :address
    %br
    = f.text_field :address

  .actions
    = f.submit
